<div class="container">
	<h2>Services</h2>
	<div class="row">
		<div class="col-md-7">
			<table class="table table-striped">
				<tr>
					<th class="col-md-1">Name</th>
					<th class="col-md-1">Price</th>
					<th class="col-md-4">Description</th>
					<th class="col-md-1">Options</th>
				</tr>
				<% @services.each do |service| %>
					<tr>
						<td> <%= service.name %> </td>
						<td><%= service.price %></td>
						<td><%= service.description %></td>
						<td> <%= link_to "Edit", edit_service_path(service.id) %> <%= link_to "Delete", service_path(service.id), method: :delete %> </td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
<a data-toggle="modal" data-target="#myModalService"> New Service </a> <br>
<%= link_to 'Home', aunthenticated_root_path %>
</div>



<!-- Modal Services-->
		<div class="modal fade" id="myModalService" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">New Service</h4>
					</div>
					<div class="modal-body">
						<%= form_for @service do |p|%>
						<%= p.label :name %>:
						<%= p.text_field :name %><br />
						<%= p.label :description %>:
						<%= p.text_field :description %><br />
						<%= p.label :price %>:
						<%= p.number_field :price %><br />
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="input" class="btn btn-primary">Create Service</button>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>