<%= form_for :appointment, url: '/appointments' do |a|%>
	<%= a.label :start_time %>:
	<%= a.datetime_select :start_time %><br />
	<%= a.label :end_time %>:
	<%= a.datetime_select :end_time %><br />
	<%= a.label :comment %>
	<%= a.text_area :comment %>

	<h4>Existing patients</h4>   <!-- Display existing patients-->
	<%= a.select(:patient_id) do %>
		<% @patients.each do |p| -%>
			<%= content_tag(:option, p.fullname, value: p.id) %>
		<% end %>
	<% end %>

	<h4>Services</h4>  <!-- Display existing services-->
	<%= fields_for :appointment_service do |f| %>
		<%= f.select(:service_id) do %>
			<% @services.each do |s| -%>
				<%= content_tag(:option, s.name, value: s.id) %>
			<% end %>
		<% end %>
	<% end %>
	
	<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="submit" class="btn btn-primary">Save Appointment</button>
	</div>
<% end %>