<div class="container" id="container1">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Log In</h3>
                    </div>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>      <%= devise_error_messages! %>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <%= f.label :email %><br />
                                <%= f.email_field :email, autofocus: true, class: "form-control input-sm" %>

                      
                            </div>

                            <div class="form-group">
                              <%= f.label :password %><br />
                              <%= f.password_field :password, autocomplete: "off", class: "form-control input-sm" %>
                            </div>

                            <% if devise_mapping.rememberable? -%>
                              <div class="from-group">
                                <%= f.check_box :remember_me %>
                                <%= f.label :remember_me %>
                              </div>
                            <% end -%>

                            <div class="actions">
                              <%= f.submit "Log in", class: 'btn btn-info btn-block' %>
                            </div>

                            
                        </form>
                        <% end %>
                        <div class="actions">
                          <%= render "devise/shared/links" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<style>
html {
  height: 100%;
}
body {
  height: 100%;
}
.container {
  width: 100%;
   height: 100%;
}
.navbar {
  margin-bottom: 0;
}
#container1 {
    background-color: #D9EAEA;
}
.panel {
  margin-top: 40px;
  height: 390px;
}
.new_user{
  padding: 0 30px;
}
.form-group {
  margin-top: 12px;
}
.actions {
  margin-top: 20px;
}
.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
</style>
