<h1>Editing Appointment</h1>

	<%= form_for @appointment do |a|%>
				<%= a.label :start_time %>:
				<%= a.datetime_select :start_time %><br />
				<%= a.label :end_time %>:
				<%= a.datetime_select :end_time %><br />
				<%= a.label :comment %>
				<%= a.text_area :comment %>
				<br>
				<button type="submit" class="btn btn-primary">Update Appointment</button>
<% end %>

<%= link_to 'Back', aunthenticated_root_path %>
