<h1>Editing Appointment</h1>

	<%= form_for @appointment do |a|%>
				<%= a.label :begin_at %>:
				<%= a.datetime_select :begin_at %><br />
				<%= a.label :end_at %>:
				<%= a.datetime_select :end_at %><br />
				<%= a.label :comment %>
				<%= a.text_area :comment %>
				<br>
				<button type="submit" class="btn btn-primary">Update Appointment</button>
<% end %>

<%= link_to 'Back', aunthenticated_root_path %>
