<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Appointments</h2>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-striped">
        
        <tr>
          <th class="col-md-1">Start Time</th> 
          <th class="col-md-1">End Time</th> 
          <th class="col-md-1">Patient</th> 
          <th class="col-md-1">Service</th> 
          <th class="col-md-4">Comment</th>
          <th class="col-md-2">Options</th>
        </tr>
        
        <% @appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.start_time %></td>
            <td><%= appointment.end_time %></td> 
            <td><%= appointment.patient.fullname %></td> 
            <td><%= appointment.services[0].name %></td> 
            <td><%= appointment.comment %></td>
            <td> <%= link_to 'Edit', edit_appointment_path(appointment) %> <%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>  
    </div>  
  </div>
</div>



