<!DOCTYPE html>
<html>
<head>
  <title>CCM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>
		<%= render 'helpers/authenticated_header' %>
			
		<% else %>
		 
		<%= render 'helpers/unauthenticated_header' %>
	<% end %>


<%= yield %>

 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
